/*Top line*/
header {
	margin-top: 10px;
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1a1a1a;
	color: #fff;
	font-family: Arial Black, sans-serif;
	border-radius: 10px;
	height: 50px;
	min-width: 98%;
	top: 0;
}
.h1 h1 a{
	color: #fff;
	text-decoration: none;
	margin: 10px;
  }
.top-txt ul {
	list-style: none;
	display: flex;
	gap: 30px;
	margin: 20px;
}
.top-txt ul li a {
	color: #fff;
	text-decoration: none;
}
.contact:hover{
    color: #c5c5c5;
}
