body{
	background: #fff;
	overflow-x:hidden;
}
/**/
.dark-white::-moz-selection{
    color: #fff;
    background-color: #333;
    }
.dark-white::selection{
    color: #fff;
    background-color: #333;
    }
.white-dark::-moz-selection{
    color: #333;
    background-color: #fff;
    }
.white-dark::selection{
    color: #333;
    background-color: #fff;
    }
/*First block*/
.Hello {
	font-size: 45px;
	font-family: Impact, sans-serif;
}
main p {
	color: #1a1a1a;
}
.line-hello{
	width: 50%;
	color: #333;
}
/*Second block*/
.info {
    min-width: 100%;
	background-color: #1a1a1a;
    min-height: 900px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
	border-radius: 5px;
}
.frame {
    border-radius: 5px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.frame .div {
    background-color: #1a1a1a;
    width: 600px;
    height: 1202px;
    position: relative;
}
.frame .div-wrapper {
    width: 292px;
    height: 66px;
    top: 9px;
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    left: 11px;
    background-color: #b3ff66;
    overflow: hidden;
}
.frame .text-wrapper {
    position: absolute;
    width: 215px;
    top: 11px;
    left: 10px;
    font-family: Impact, sans-serif;
    font-weight: 400;
    color: #1a1a1a;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}
.frame .overlap-group{
    position: absolute;
    width: 579px;
    height: 681px;
    top: 75px;
    left: 11px;
}
.frame .div-2 {
    position: absolute;
    width: 29px;
    height: 303px;
    top: 138px;
    left: 6px;
    background-color: #ff9737;
}
.frame .div-3 {
    position: absolute;
    width: 29px;
    height: 303px;
    top: 138px;
    left: 544px;
    background-color: #ff9737;
}
.frame .front-end-wrapper {
    width: 579px;
    height: 195px;
    top: 0;
    left: 0;
    border-radius: 0px 5px 5px 5px;
    position: absolute;
    background-color: #b3ff66;
    overflow: hidden;
}
.frame .front-end {
    position: absolute;
    top: 30px;
    left: 90px;
    font-family: Impact, sans-serif;
    font-weight: 400;
    color: #1a1a1a;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .div-wrapper-2 {
    position: absolute;
    width: 292px;
    height: 66px;
    top: 337px;
    left: 287px;
    background-color: #fbff66;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}
.frame .text-wrapper-2 {
    position: absolute;
    top: 26px;
    left: 110px;
    font-family: Impact, sans-serif;
    font-weight: 400;
    color: #000000;
    line-height: normal;
} 
.frame .div-4 {
    position: absolute;
    width: 579px;
    height: 278px;
    top: 403px;
    left: 0;
    background-color: #fbff66;
    border-radius: 5px 0px 5px 5px;
    overflow: hidden;
}
/*Мои Работы*/
.frame .div-4 {
    position: absolute;
    width: 579px;
    height: 715px;
    top: 403px;
    left: 0;
    background-color: #fbff66;
    border-radius: 5px 0px 5px 5px;
    overflow: hidden;
}


/*Futa*/
