#About {
    margin-top: 25px;
    width: 100%;
    height: 97vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    align-items: center;
    border-radius: 35px;
    font-family: "Comfortaa", regular;
    background-color: #222222;
    border: 1px solid rgba(255, 255, 255, 0.05);
    overflow: hidden;
}
.aboutTxt {
    position: absolute;
    left: 80px;
    color: #f5f5f5;
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 22px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    padding-bottom: 40px;
    padding-top: 40px;
}
.line1 {
    width: 60%;
    height: 2px;
    background-color: #f5f5f5;
    border-radius: 15px;
}